<!doctype html>
<html lang="en">
<head>
  <title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }} </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content="Sculpin (http://sculpin.io)" />
  <link rel="shortcut icon" href="http://faviconist.com/icons/775ab8d67319ad853c7acfec29e9b5db/favicon.ico" />
  <link href="{{ site.url }}/css/style.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/lib/highlight/styles/{{ site.highlightjs_style }}.css">
  <script src="/lib/highlight/highlight.pack.js"></script>

  {% if site.google_analytics_tracking_id %}
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', '{{site.google_analytics_tracking_id}}', 'auto');ga('send', 'pageview');
  </script>
  {% endif %}

</head>
<body>

  <aside class="sidebar">
    <header>
      <h1>
        <a href="{{ site.url }}/">{{ site.title }}</a>
      </h1>
      <p>{{ site.subtitle }}</p>
    </header>

    <nav>
      <ul class="menu inline-list">
        <li><a class="button-link" href="{{ site.url }}/blog">Archive</a></li>
        <li><a class="button-link" href="{{ site.url }}/blog/tags">Tags</a></li>
        <li><a class="button-link" href="{{ site.url }}/about">About</a></li>
      </ul>
    </nav>
  </aside>
  <main role="main">
    <section class="content">
      {% block content_wrapper %}
        {% block content %}{% endblock %}
      {% endblock %}
    </section>
  </main>

  <footer>
  <div class="footer-links">
      <ul class="inline-list">
        <li><a class="button-link" href="/atom.xml">Feed</a></li>
        <li><a class="button-link" href="https://twitter.com/naxoc">Twitter</a></li>
        <li><a class="button-link" href="https://github.com/naxoc">GitHub</a></li>
      </ul>
    <div class="powered-by">
      <p>Powered by <a href="https://sculpin.io/">Sculpin</a></p>
    </div>
    <div class="google-plus">
      <a href="//plus.google.com/u/0/110245117479002469544?prsrc=3"
         rel="publisher" target="_top" style="text-decoration:none;">
        <img src="//ssl.gstatic.com/images/icons/gplus-16.png" alt="Google+" style="border:0;width:16px;height:16px;"/>
      </a>
    </div>
  </div>
  </footer>

  <script>hljs.initHighlightingOnLoad();</script>

  {% if site.disqus_shortname %}
    <script type="text/javascript">
      var disqus_shortname = '{{ site.disqus_shortname }}';
      {% if page.comments == true %}
        // The trailing slashes are necessary.
        var disqus_identifier = '{{ site.disqus_url }}{{ page.url }}/';
        var disqus_url = '{{ site.disqus_url }}{{ page.url }}/';
        var disqus_script = 'embed.js';
      {% else %}
        var disqus_script = 'count.js';
      {% endif %}
      (function () {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + disqus_shortname + '.disqus.com/' + disqus_script;
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      }());
    </script>
  {% endif %}
</body>
</html>
